* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: lightgrey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.cold {
  background-color: rgb(136, 168, 236);
  transition: 2s ease;
}

.warm {
  background-color: rgb(231, 157, 157);
  transition: 2s ease;
}

.form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 80vh;
}

.search {
  padding: 0.5rem;
}

.submit {
  cursor: pointer;
  padding: 0.2rem;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-city {
  padding: 1rem 0 0.5rem 0;
}

.weather-info {
  padding: 0.5rem;
}